include ./assets/templates/head.jade
body
  .app
    header#top.f-header(data-stellar-background-ratio="0.5")
      .header-wrapper
          .header-title
            .lobster.f-64 Appetini
            .flag
            .f-36 Суми
            .f-18 Смачна домашня їжа на кожен день
            .f-18.m-t-15.f-black.white-bg Ми вже спробували запустити сервіс та отримали дуже добрі відгуки про наш сервіс. Зараз ми процюємо над редизайном та запуском більш стабільної версії. Ви можете подивитись ціни та меню, з якими ми працювали. Якщо Вам подобається - підпишіться на наші оновлення та ми повідомимо Вас про запуск сервісу та майбутніх акціях:
              div
                a.m-t-20.btn.btn-default.f-btn.scroll-to(href="#f-subscribe")
                  span.f-24 Підписатись

      nav.navbar.f-navbar.navbar-fixed-top.navbar-main
          .container
            .navbar-header
              .navbar-toggle.collapsed(data-toggle="collapse" data-target="#f-navbar" aria-expanded="false" )
                span.glyphicon.glyphicon-menu-hamburger
              a.navbar-brand.lobster.scroll-to(href="#top") Appetini
            #f-navbar.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right.f-menu
                li
                  a.scroll-to(href="#food-menu") Обіди
                li
                  a.scroll-to(href="#f-about") Про нас

    #food-menu.f-section.p-b-50
      .container
        h1.text-center.f-white
          span Обіди
        .m-t-30.text-center

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish1/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Олена
                    span.font-bold  Георгіївна

                .ingredients
                  span Плов
                  span Овочевий салат з капусти
              .price
                .f-white.price-count
                  span.f-36 35
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish2/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Олена
                    span.font-bold  Георгіївна

                .ingredients
                  span Бризоль з м'ясним фаршем
                  span Овочевий салат з капусти
                  span Хліб
              .price
                .f-white.price-count
                  span.f-36 30
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish3/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Віктор
                    span.font-bold  Шевченко

                .ingredients
                  span Картопляне пюре
                  span Котлета м'ясна
                  span Овочевий салат з капусти
              .price
                .f-white.price-count
                  span.f-36 37
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish4/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Наталя
                    span.font-bold  Сальник

                .ingredients
                  span Солянка
                  span Запіканка
              .price
                .f-white.price-count
                  span.f-36 25
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish6/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Олена
                    span.font-bold  Георгіївна

                .ingredients
                  span Суп з гречкою
                  span М'ясні зрази
              .price
                .f-white.price-count
                  span.f-36 30
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right


          .dish.text-left
            a(href="#")
              img(src="assets/images/dish8/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Віктор
                    span.font-bold  Шевченко

                .ingredients
                  span Каша гречана
                  span Відбивна з грибами та сиром
                  span Окрошка
              .price
                .f-white.price-count
                  span.f-36 37
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right


          .dish.text-left
            a(href="#")
              img(src="assets/images/dish10/main.jpg")
              .dish-info

                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Віктор
                    span.font-bold  Шевченко

                .ingredients
                  span Гречана каша з печінковими котлетами
                  span Овочевий салат з капустою
              .price
                .f-white.price-count
                  span.f-36 35
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish11/main.jpg")
              .dish-info
                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Наталя
                    span.font-bold  Сальник
                .ingredients
                  span Плов
                  span Овочевий салат з капустою
              .price
                .f-white.price-count
                  span.f-36 35
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

          .dish.text-left
            a(href="#")
              img(src="assets/images/dish12/main.jpg")
              .dish-info
                .cook-name.f-14 Готує:
                  h2.text-uppercase.cook-name.m-t-0 Олена
                    span.font-bold  Георгіївна

                .ingredients
                  span Картопляне пюре
                  span Відбивна свиняча
                  span Салат овочевий з капустою
              .price
                .f-white.price-count
                  span.f-36 39
                  span.f-18 грн
                .more
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right
                  .fa.fa-chevron-right

    #f-about.f-section.grey
      .container.p-t-30.p-b-50
        h2.text-center.f-red.font-extra-bold.m-b-30.m-t-0 Обіди на кожен день
        article.f-black.f-article Приготування смачної та корисної їжі для ділової людини – це справжня розкіш, враховуючи шалений темп її повсякденного життя. Як наслідок, якість щоденного раціону значно погіршується. Дозвольте собі перепочити і насолодитися хвилинкою спокою посеред метушливого дня, а розв’язання цієї проблеми залиште нам.  На нашому сайті зібрана смачна колекція домашніх страв, у найбільш зручний для вас спосіб. Насолоджуйтесь разом з нами і не втрачайте апетиту! Щиро Ваш, Appetini.

    #f-subscribe.f-section.white
      .container.p-t-30.p-b-50.text-center.subscribe-form
        h2.f-red.font-extra-bold.m-b-30.m-t-0 Підписка на оновлення
        h4.f-black Якщо Вам подобається - підпишіться на наші оновлення та ми повідомимо Вас про запуск сервісу та майбутніх акціях:
        form#subscribeForm(action="subscribe.php" method="POST" name="subscribeForm")
          .m-t-20
            input.form-control.subscribe-email-input(type="email" name="subscribeMail" required placeholder="Введіть вашу електронну пошту")
          .m-t-20.m-b-40
            button.btn.btn-default.f-btn(type="submit")
              span.f-24 Підписатись
        h4.f-black Також ви можете спостерігати за нами на наших сторінках в соціальних мережах:
        .m-t-20.m-b-20.f-64.f-36.socials
          a.inline.f-link.m-r-50.fa.fa-facebook-official(href="https://www.facebook.com/appetinicom/" target="_blank")
          a.inline.f-link.fa.fa-vk(href="https://vk.com/appetini" target="_blank")
    include ./assets/templates/footer.jade
