.app.dish-page {
  padding-top: 90px;
}

@font-face {
  src: url('../fonts/RalewayExtraBold.ttf');
  font-family: 'RalewayExtraBold';
}

@font-face {
  src: url('../fonts/RalewayBold.ttf');
  font-family: 'RalewayBold';
}

@font-face {
  src: url('../fonts/RalewayRegular.ttf');
  font-family: 'RalewayRegular';
}

html, body {
  height: 100%;
}

body {
  background: $f-grey;
  font-family: 'RalewayRegular', sans-serif;
}

.f-section {
  width: 100%;
  background: #2f3238;

  &.grey {
    background: $f-grey;
  }
  &.white {
    background: $f-white;
  }
}

.f-article {
  text-indent: 24px;
  text-align: justify;
}

.clearfix {
  clear: both;
}

.f-btn {
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 8px 15px;
  color: $f-white;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;

  &.btn-default {
    background: $f-red;
    border: 1px solid $f-red;

    &:hover, &:focus {
      color: $f-red;
      border: 1px solid $f-red;
      background: $f-white;
    }
  }
}

h1 {
  font-size: 42px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid $f-black;
  border-radius: 0;
  color: $f-black;
  height: 40px;

  &:focus {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid $f-black;
  }
}


.f-link {
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
  }
}


.f-link {
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
  }
}


.subscribe-form {
  .subscribe-email-input {
    width: 60%;
    margin: 0 auto;
  }

  .socials {
    .f-link {
      color: $f-red;
    }
  }
}

.white-bg {
  display: inline-block;
  background: $f-white;
  padding: 20px;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
  max-width: 60%;
}
