.card {
  padding: 10px 15px;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: $f-white;
  width: 100%;
}

&.btn-back {
  color: $f-red;
  width: auto;

  &:hover {
    color: $f-red;
    opacity: 0.8;
  }
}
