.flex-direction-nav {
  a {
    color: $f-black;
    height: 50px;

    &:before {
      font-family: 'fontAwesome';
      opacity: 1;
      text-shadow: none;
    }

    &.flex-prev:before {
      content: '\f053';
      color: $f-white;
    }

    &.flex-next:before {
      content: '\f054';
      color: $f-white;
    }
  }
}
