#food-menu {

  .dish {
    position: relative;
    width: 40%;
    display: inline-block;
    margin: 10px 20px;
    height: 300px;
    background: $f-black;
    overflow: hidden;

    &:hover {
      img {
        transform: scale3d(1.1,1.1,1);
        opacity: 0.4;
      }

      .dish-info .ingredients span{
        transform: translate3d(0,0,0);
      }
      .price {
        opacity: 1;
      }
      .time {
        transform: translate3d(0,0,0);
      }
    }


    img {
      opacity: 1;
      height: 300px;
      min-width: 100%;
      transition: transform 1s ease, opacity 0.3s ease;
    }

    .dish-info {
      position: absolute;
      top: 30px;
      left: 40px;
      width: calc(100% - 40px);
      .cook-name {
        color: $f-white;
        text-transform: uppercase;
        h2 {
          white-space: nowrap;
        }
      }

      .ingredients {
        span {
          padding: 6px 15px;
          font-size: 15px;
          font-weight: 600;
          font-family: 'RalewayRegular', sans-serif;
          margin-right: 4px;
          margin-top: 4px;
          transform: translate3d(-460px,0,0);
          background: rgba(255,255,255,0.7);
          color: $f-black;
          display: inline-block;
          transition: transform 0.3s ease;
          transition-delay: 0.4s;

          @for $i from 2 through 8 {
            &:nth-of-type(#{$i}) {
              transition-delay: #{0.4 - 0.05*$i}s;
            }
          }
        }
      }
    }

    .time {
      position: absolute;
      left: 20px;
      transition: transform 0.3s ease;
      transform: translate3d(-360px,0,0);
      bottom: 20px;
      padding: 5px;
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0.7);
    }

    .price {
      position: absolute;
      right: 20px;
      transition: opacity 0.3s ease;
      opacity: 0;
      bottom: 20px;
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0.7);

      .price-count {
        padding: 10px;
      }

      .more {
        padding: 0 2px;
        text-align: right;
        font-size: 12px;
        line-height: 1;
        color: $f-black;
        background: rgba(255, 255, 255, 0.7);
        display: none;
        .fa {
          vertical-align: middle;
        }
      }
    }
  }
}
