.f-header {
  height: 100vh;
  background: url('../images/bg1.jpg') fixed no-repeat;
  background-size: cover;


  .header-wrapper {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: table;


    .header-title {
      display: table-cell;
      vertical-align: middle;

      text-align: center;
      color: $f-white;

      .city {
        font-family: 'RalewayBold', sans-serif;
      }

      .flag {
        width: 80px;
        margin: 0 auto;
        height: 14px;
        background: #FFD100;
        border-top: 7px solid #0082D1;
      }
    }

  }
}

.f-navbar {
  border-radius: 0;
  border: none;
  transition: background 0.3s ease-in-out;

  &.onscroll {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);

    .navbar-brand {
      color: $f-red;
    }
    .navbar-toggle {
      color: $f-red;
    }
    .f-menu li a {
      color: $f-red;
      &:after {
        background: $f-red;
      }
    }
  }

  .navbar-brand {
    color: $f-white;
    font-size: 24px;
  }

  .navbar-toggle {
    font-size: 18px;
    margin: 0;
    padding: 28px;
    border:none;
    color: $f-white;
  }

  .f-menu {
    li a {
      color: $f-white;
      position: relative;
      /*padding: 30px;*/
      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        height: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $f-white;
        transition: height 0.3s ease;
      }

      &:hover, &:focus {
        background: none;
        &:after, &:before {
          height: 4px;
        }
      }
    }
  }
}
