@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

.lobster {
  font-family: 'Lobster', cursive;
}


$f-white: #fff;
$f-grey: #f5f5f5;
$f-black: #2f3238;
$f-red: #c94e50;


.f-grey {
  color: $f-grey;
}

.f-white {
  color: $f-white;
}

.f-black {
  color: $f-black;
}

.f-red {
  color: $f-red;
}

.font-extra-bold {
  font-family: 'RalewayExtraBold', sans-serif;
}

.font-bold {
  font-weight: bold;
  font-family: 'RalewayBold', sans-serif;
}

$margins: (0, 5, 10, 15, 20, 25, 30, 40, 50, 100, -10);

@each $margin in $margins {
  .m-t-#{$margin} {
    margin-top: #{$margin}px !important;
  }
  .m-b-#{$margin} {
    margin-bottom: #{$margin}px !important;
  }
  .m-l-#{$margin} {
    margin-left: #{$margin}px !important;
  }
  .m-r-#{$margin} {
    margin-right: #{$margin}px !important;
  }
}


$paddings: (0, 5, 10, 15, 20, 25, 30, 40, 50, 100, -5, -10, -15, -20, -25, -30, -40, -50);

@each $padding in $paddings {
  .p-t-#{$padding} {
    padding-top: #{$padding}px !important;
  }
  .p-b-#{$padding} {
    padding-bottom: #{$padding}px !important;
  }
  .p-l-#{$padding} {
    padding-left: #{$padding}px !important;
  }
  .p-r-#{$padding} {
    padding-right: #{$padding}px !important;
  }
}

// Text-aligns

$aligns: (left, center, right);

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}

$sizes: (14, 16, 18, 24, 36, 48, 56, 64);

@each $size in $sizes {
  .f-#{$size} {
    font-size: #{$size}px;
  }
}
