.meals {
  list-style-type: none;
  li {
    margin: 10px 0;

    .meal-item {
      font-weight: 500;
      background: rgba(0, 0, 0, 0.9);
      color: $f-white;
      padding: 6px 15px;
    }
  }
}

.order-btn1 {
  display: block;
  margin-left: 60px;
}

.count-select {
  width: 50px;
  float: left;
}

.order-box {
  .price {
    margin: 0 0 15px 0;
    .price-number {
      font-weight: bold;
      font-family: RalewayBold, sans-serif;
      font-size: 40px;
      line-height: 100%;
    }
    .price-currency {
      font-size: 20px;
    }
  }
  .time {
    font-size: 14px;
    margin: 10px 0 3px;
    .time-value {
      font-weight: bold;
      font-family: RalewayBold, sans-serif;;
    }
  }
}

.cook-box {
  .cook-label {
    margin: 4px 0;
  }
}
