@media all and (max-width: 767px) {
  .navbar-brand {
    padding: 30px;
  }

  #food-menu .dish {
    width: 80%;

    .dish-info {
      .cook-name h2 {
        white-space: pre-wrap;
      }
    }
    .ingredients span {
      font-size: 12px;
    }
  }
}
