.f-modal {
  .modal-content {
    border-radius: 0;

    .modal-header, .modal-body, .modal-footer {
      background: $f-white;
      border: none;
      color: $f-red;
    }

    .modal-body {
      padding: 15px 45px;
    }

    .modal-title {
      font-weight: bold;
    }
    .close {
      position: absolute;
      right: -30px;
      top: -10px;
      margin-top: 0;
      opacity: 1;
      text-shadow: none;
      color: $f-white;
      font-size: 36px;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}
