.card.m-t-30.cook-box
  .cook-label.text-center.f-18.m-b-10 Для Вас готує
  img.img-responsive(src="assets/images/dish#{cook.id}/avatar.jpg")
  .text-center
    h3.m-t-15 #{cook.name}
      strong  #{cook.lastName}
    .cook-rating.m-b-10
      span.fa.fa-star.f-red.m-r-5.f-18
      span.fa.fa-star.f-red.m-r-5.f-18
      span.fa.fa-star.f-red.m-r-5.f-18
      span.fa.fa-star.f-red.m-r-5.f-18
      span.fa.fa-star.f-red.m-r-5.f-18
    .city.m-b-10 Місто:
      strong  #{cook.city}
