footer.f-footer
  .container
    .text-center.p-t-10.p-b-10.f-black.footer-wrapper
      span.lobster.f-18.footer-center Appetini &#9400;
        span  2015
      .pull-right.m-r-25
        a.inline.f-link.f-24.m-r-10.fa.fa-facebook-official(href="https://www.facebook.com/appetinicom/" target="_blank")
        a.inline.f-link.f-24.fa.fa-vk(href="https://vk.com/appetini" target="_blank")

