doctype
html(lang="ru")
  head
    meta( charset="utf-8" )
    title Appetini
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel = "stylesheet" href="assets/css/assets.css")
    link(rel = "stylesheet" href="assets/css/app.css")
    script(type = "application/javascript" src = "assets/js/assets.js")
    script( type = "application/javascript"  src = "assets/js/app.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71130170-1', 'auto');
      ga('send', 'pageview');
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
          try {
            w.yaCounter34092695 = new Ya.Metrika({
              id: 34092695,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true
            });
          } catch (e) {
          }
        });
        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                  n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/34092695', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
