include ./head.jade
body
  .app.lunch-page.p-t-50
    nav.navbar.f-navbar.navbar-fixed-top.onscroll
      .container
        .navbar-header
          .navbar-toggle.collapsed(data-toggle="collapse" data-target="#f-navbar" aria-expanded="false" )
            span.glyphicon.glyphicon-menu-hamburger
          a.navbar-brand.lobster(href="/") Appetini
        #f-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.f-menu
            li
              a(href="/#food-menu") Меню
            li
              a(href="/#f-about") Про нас
