.card.order-box
  .price
    span.price-number #{order.price}
    span.price-currency грн / обід
  .select-box-wrapper.pull-left
    select.form-control.count-select#orderItemsCountSelect(name="orderItemsCount")
      option(value="1") 1
      option(value="2") 2
      option(value="3") 3
      option(value="4") 4
      option(value="5") 5
      option(value="6") 6
      option(value="7") 7
      option(value="8") 8
      option(value="9") 9
      option(value="10") 10
  a.btn.btn-default.f-btn.order-btn1#orderModalBtn(href="#" data-toggle="modal" data-price="#{order.price}" data-id="#{order.id}" data-target="#orderModal") Замовити
  .time
    span.time-label ** Доставка у
    span.time-value  #{order.time}
