#orderModal.modal.fade.f-modal(tabindex='-1' role='dialog')
  .modal-dialog
    .modal-content
      form#orderForm(action="order.php" name="orderForm" method="POST")
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h3.modal-title.f-red.text-center Зробити заказ
        .modal-body
          input#dishId(type="hidden" required name="dishId")
          input#price(type="hidden" required name="price")
          input.form-control.m-b-10(type="text" required name="customerName" placeholder="Ваше і'мя")
          input.form-control.m-b-10(type="email" required name="customerEmail" placeholder="Ваша электрона пошта")
          input.form-control.m-b-10(type="text" required name="customerPhone" minlength="9" placeholder="Ваш мобільний номер")
          input.form-control.m-b-10(type="text" required name="customerAddress" placeholder="Ваша адреса")
          .text-right
            .pull-left
              strong.f-18#priceText
              span  грн.
            span.f-18 Кількість:
              select.form-control.count-select(name="orderItemsCount")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10

        .modal-footer.text-center
          button.btn.btn-default.f-btn#sendForm(type='Submit' name="submitOrder") Замовити
