.card
  .flexslider.m-b-0#dish-slider
    ul.slides
      li(data-thumb='assets/images/#{dish}/main.jpg')
        img(src='assets/images/#{dish}/main.jpg')
      li(data-thumb='assets/images/#{dish}/1.jpg')
        img(src='assets/images/#{dish}/1.jpg')
      li(data-thumb='assets/images/#{dish}/2.jpg')
        img(src='assets/images/#{dish}/2.jpg')
      li(data-thumb='assets/images/#{dish}/3.jpg')
        img(src='assets/images/#{dish}/3.jpg')
